<form id="pizza-form">
      <legend>Build your pizza</legend>

      <div class="form-group">
        <label for="crust">Choose yo' crust</label>
        <input type="text" name="crust" class="form-control" required>
        <label for="size">How big you want it? (what size?)</label>
        <input type="text" name="size" class="form-control" required>
        <label for="toppings">What you want on it? (toppings) </label>
        <input type="text" name="toppings" class="form-control" placeholder="Enter toppings separated by commas, e.g., mushrooms, anchovies, bell peppers">
        <label for="cheese">Any dairy? (choose your cheese)</label>
        <input type="text" name="cheese" class="form-control" required>
      <!-- handle address through logged in user's information? -->
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>