<!DOCTYPE html>
<html>
<% include ./_head %>
<body>

  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>General Pizza Assembly</h1>
    </header>

    <!-- include form partial -->
    <% include ./_create %>

    <h3>Your Pizzas</h3>
    <% pizzas.forEach(function(pizza) { %>
    <% }); %>

  </div>
</body>
</html>


